<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MockupUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21EEF6BC1C6FDFB2004FE861</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21EEF6D01C6FDFB2004FE861</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21EEF6DB1C6FDFB2004FE861</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
